# Arquivos gerados pelo compilador (C++ Binaries)
build/
.pyd
.dll
.exe
.o
.objgit 

# Configurações locais do VS Code
.vscode/

# Arquivos temporários do Python
__pycache__/
*.pyc

# Dados da competição 
dados/EarlyDatasets/
dados/LateDatasets/
dados/HiddenDatasets/